@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


@media screen and (min-width:375px) and (max-width:1440px) {
body{
    background: url(pattern-background-desktop.svg);
    background-color:hsl(225, 100%, 94%) ;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
 
}
#main {
    width: 28%;
    background-color: white;
    height: 510px;
    border-radius: 15px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-family: "Red Hat Display";
    color: hsl(223, 47%, 23%);
    box-shadow: 3px 3px 0px 2px hsl(225, 100%, 98%, 0.4);
}
.dance{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.content h1{
    font-size: 26px;
    padding: 30px 0px 10px;
    font-weight: 900;
}
.content p{
    font-size: 16px;
    padding: 5px 40px;
    font-weight: 300;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 10px 30px;
    /*padding: 40px;*/
    background-color:hsl(225, 100%, 98%);
    border-radius: 6px;
}
.music_icon{
    width: 12%;
    position: absolute;
    left: 20px;
}
.plan {
        position: absolute;
        left: 73px;
}
a{
    position: absolute;
    right: 25px;
    font-size: 12px;
    font-weight: 900;
    color: hsl(245, 75%, 52%);
    text-decoration:none;
}
.plan h2{
    font-size: 15px;
    font-weight: 900;
    padding-bottom: 5px;
}
.plan p{
    font-size: 15px;
    font-weight: 500;
}
button{
    margin: 20px 0;
    padding: 10px 90px;
    cursor: pointer;
    font-weight: 900;
    color: white;
    outline: none;
    border: none;
    position: relative;
    background-color: hsl(245, 94%, 51%);
    border-radius: 8px;
}
.order{
    font-size: 14px;
    font-weight: 1200;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    cursor: pointer;
}
a:hover {
    color: var(--blue3);
  }
  
}